/* ------------------ LOGIN FORM ------------------*/
.bodyPage {
   background: url("../img/img_login.jpg") no-repeat center;
   background-size: cover;
}
.contenedor {
   border: 3px solid black;
   border-radius: 5px; 

   margin-top: 50px;
   margin-bottom: 50px;

   padding: 20px;

   background-color: white;
}
.footPage {
   background-color: #C4C4C4;
   padding-top: 10px;
   padding-bottom: 10px;
}
/* ---------------- FIN LOGIN FORM ----------------*/

/* ------------------ PRINCIPAL PAGE ------------------*/
#cuerpo {
   padding-top: 30px;
   padding-bottom: 30px;
   background: url("../img/panel2.jpg") no-repeat center;
   background-size: cover;
}

#pie {
   background-color: #C4C4C4;
   padding-top: 10px;
   padding-bottom: 10px;
}
/* ---------------- FIN PRINCIPAL PAGE ----------------*/